<form action="/products/create" method="POST">
  <label for="name">Product Name</label>
  <input type="text" name="name" required />
  <label for="description">Product Description</label>
  <input type="text" name="description" required />
  <label for="price">Price</label>
  <input type="number" name="price" required />
  <label for="qty">Qty</label>
  <input type="number" name="qty" required />
  <label for="img_url">Image URL</label>
  <input type="text" name="img_url" required />
  <label for="category">Category</label>
  <select name="categoryId" id="productCategory">
    <option value="1">Dog Toys</option>
    <option value="2">Dog Treats</option>
    <option value="3">Wet Dog Food</option>
    <option value="4">Dry Dog Food</option>
  </select>
  <button type="submit">Submit</button>
</form>
