<form action="/products/create" method="POST">
  <label for="name">Product Name</label>
  <input type="text" name="name" required />
  <label for="description">Product Description</label>
  <input type="text" name="description" required />
  <label for="price">Price</label>
  <input type="number" name="price" required />
  <label for="qty">Qty</label>
  <input type="number" name="qty" required />
  <label for="img_url">Image URL</label>
  <input type="text" name="img_url" required />
  <label for="category">Category</label>
  <select name="categoryId" id="productCategory">
    <% categories.map((category,index) => { %>
    <option value="<%=index+1%>"><%=category.name%></option>
    <%}) %>
  </select>
  <button type="submit">Submit</button>
</form>
