<form action="/categories/create" method="post">
  <label for="name">Category Name</label>
  <input type="text" name="name" />
  <label for="description">Category Description</label>
  <textarea name="description"></textarea>
  <button type="submit">Create category</button>
</form>
